##
<!-- allowGuest: true -->
<link rel="stylesheet" type="text/css" href="$!content.getURI("scripts/xnat/plugin/workflowMgmt/dependencies/jsTree/style.min.css")"/>
<script type="text/javascript" src="$!content.getURI("scripts/xnat/plugin/workflowMgmt/dependencies/jstree.min.js")"></script>
<script type="text/javascript" src="$content.getURI('scripts/xnat/plugin/workflowMgmt/user_dashboard.js')"></script>
<script type="text/javascript" src="$!content.getURI("scripts/xnat/plugin/containerService/containerService-history.js")"></script>
<script type="text/javascript" src="$!content.getURI("scripts/xnat/plugin/workflowMgmt/workflowmgmt.js")"></script>
